<a href="https://colab.research.google.com/github/AjitNikam1/Covid19-India/blob/master/Covid19_India2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Covid19-Pandemic-India Dataset Analysis
I am going to get some usefull insights for Covid19-India2020 data set obtained from Kaggle.com
[https://www.kaggle.com/imdevskp/covid19-corona-virus-india-dataset#patient_wise_data_scrapping_and_cleaning.ipynb](https://www.kaggle.com/imdevskp/covid19-corona-virus-india-dataset#patient_wise_data_scrapping_and_cleaning.ipynb)

##Import Required Packages

In [0]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

## Read Data
Get the cleaned dataset file from following Kaggle link
[https://www.kaggle.com/imdevskp/covid19-corona-virus-india-dataset#patient_wise_data_scrapping_and_cleaning.ipynb](https://www.kaggle.com/imdevskp/covid19-corona-virus-india-dataset#patient_wise_data_scrapping_and_cleaning.ipynb)

In [7]:
# Read data from Githun repository
url = 'https://raw.githubusercontent.com/AjitNikam1/Covid19-India/master/patients_data.csv' # Url for importing Data from Github Repo
patients_data = pd.read_csv(url,delimiter=",") #Delimiter argument added as data is seperated by semicolon in .csv file 
patients_data.head()

   patient_number  ...                                backup_notes
0               1  ...                                         NaN
1               2  ...                          Student from Wuhan
2               3  ...                          Student from Wuhan
3               4  ...         Travel history to Italy and Austria
4               5  ...  Travel history to Dubai, Singapore contact

[5 rows x 20 columns]

## Exploratory Data Analysis

### General Data Set Inormation

In [8]:
# Lets look into general Dataset information
patients_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17357 entries, 0 to 17356
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   patient_number               17357 non-null  int64
 1   state_patient_number         2457 non-null   object
 2   date_announced               17357 non-null  object
 3   estimated_onset_date         0 non-null      float64
 4   age_bracket                  1669 non-null   object
 5   gender                       3745 non-null   object
 6   detected_city                2162 non-null   object
 7   detected_district            14380 non-null  object
 8   detected_state               17357 non-null  object
 9   state_code                   17357 non-null  object
 10  current_status               17357 non-null  object
 11  notes                        16040 non-null  object
 12  suspected_contacted_patient  1534 non-null   object
 13  nationality                  1310 non-null   object
 14  type_of_transmission         2950 non-null   object
 15  status_change_date           17247 non-null  object
 16  source_1                     17020 non-null  object
 17  source_2                     3395 non-null   object
 18  source_3                     445 non-null    object
 19  backup_notes                 360 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 2.6+ MB

#### Statistical Summary of Dataset

In [9]:
# Lets see the statistical summary of the dataset
patients_data.describe()

       patient_number  estimated_onset_date
count    17357.000000                   0.0
mean      8680.463905                   NaN
std       5011.357453                   NaN
min          1.000000                   NaN
25%       4340.000000                   NaN
50%       8681.000000                   NaN
75%      13020.000000                   NaN
max      17359.000000                   NaN

### Pandas profiling

In [0]:
#Perform Pandas profiling to understand quick overview of Dataset

import pandas_profiling
report = pandas_profiling.ProfileReport(RedWineData)
#convert profile report as html file
report.to_file("RedWineData_data.html")

from IPython.display import display,HTML,IFrame
display(HTML(open('RedWineData_data.html').read()))